/* ============================= */
/* ========= VARIABLES ========= */
/* ============================= */

:root {
  --color-primary: rgba(145, 80, 211, 0.83);
  --color-bg: #111;
  --color-text: #ffffff;
  --color-accent: #4caf50;
  --color-marquee: #00ff66;
  --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.25);
}


/* ============================= */
/* ============ RESET ========== */
/* ============================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: system-ui, -apple-system, sans-serif;
}


/* ============================= */
/* ============ LAYOUT ========= */
/* ============================= */

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}


/* ============================= */
/* ============ HEADER ========= */
/* ============================= */

header {
  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  box-shadow: var(--shadow-soft);
}


/* ============================= */
/* ========= FOOTER ============ */
/* ============================= */

footer {
  width: 100%;
  height: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
  color: var(--color-text);
  font-size: 14px;

  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}


/* ============================= */
/* ========= LOGO/TITLE ======== */
/* ============================= */

.badeen-display-regular {
  font-family: "Badeen Display", system-ui;
  font-size: 60px;
  font-weight: 400;

  cursor: pointer;
  transition: all 0.25s ease;
}

.badeen-display-regular:hover {
  color: var(--color-accent);
  transform: scale(1.05);
  text-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


/* ============================= */
/* ========= MARQUEE =========== */
/* ============================= */

.logo {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.marquee {
  width: 100%;
  overflow: hidden;
  background: #000;
  color: var(--color-marquee);
  font-family: monospace;
  padding: 10px 0;
}

.marquee span {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: marquee-scroll 20s linear infinite;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}