.btn {
  border: none; 
  color: black; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  width: 200px;
  font-size: 1em;
  
  
}
.success {background-color: rgb(143, 204, 119); border: 2px solid #04AA6D;} 
.success:hover {background-color: #46a049; color: white;}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
        background-color: rgba(145, 80, 211, 0.322);
}

/* .postInput{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.postInput {
    position: fixed;          /* 🔥 se superpone a TODO */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background: rgba(0,0,0,0.6); /* fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    z-index: 1000;             /* 🔥 por encima de todo */
}

.postInput.show {
    opacity: 1;
    pointer-events: auto;
}


.formInput{
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.contenidosInput{
    color: white;
    background-color: #cca7e271;
    padding: 10px;
    margin: 10px;
}

.contenidosInput::placeholder {
    color: #ffffff;
    opacity: 1; /* importante para Firefox */
}