
.postInterfaz{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    overflow: hidden;
        margin-top: 25px;


}

.postInterfaz > *{
    flex: 1;
    margin-bottom: 100px;
}


.chat{
    padding: 20px;
    max-width: 40%;
    border: 1px solid black;
    background-color: rgba(137, 43, 226, 0.226);
    border: 2px solid rgba(145, 80, 211, 0.315);


}

.formChat-post{

    width: 100%;
    display: flex;
        align-items: center;
    justify-content: center;
}

.post{
    display: flex;
    flex-direction: column;
}

.postImage{
  float: left;              /* 🔥 CLAVE */
  margin: 0 15px 10px 0;    /* espacio entre imagen y texto */
  border-radius: 8px;
}

.titlePost{
    color: white;
    margin-left: 20px;
}

.textPost{
 width: 100%;
}

.text{
    margin: 15px;
  line-height: 1.6;
  font-size: 16px;

    font-family:Arial, Helvetica, sans-serif ;

    color: white;
     word-break: break-word;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

span{
    margin: 10px;
}

.contenidosInput-post{
    width: 700px;
    background-color: rgba(145, 80, 211, 0.39);
    border: 1px solid rgba(255, 255, 255, 0.418);
    margin-right: 30px;
    border-radius: 10px;
    height: 30px;
    color: white;

 
}


.botonEnviar-post{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
font-size: 1em;
    background-color: rgb(143, 204, 119);
    border-radius: 10px;
    height: 35px;


}

.botonEnviar-post:hover{
    background-color: rgb(87, 209, 39);
}

.mensaje{
    color: white;
    background-color: rgba(145, 80, 211, 0.315);
    font-size: 1.3em;
    padding-left: 20px;
}