body{
    margin: 0%;
}

header{
    width: 100%;
    background-color: rgba(145, 80, 211, 0.829);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
              box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

}

footer{
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 30px;

  background-color: #111;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}




.badeen-display-regular {
        font-size: 60px;
  font-family: "Badeen Display", system-ui;
  font-weight: 400;
  font-style: normal;
}
