.btn {
  border: none; 
  color: black; 
  padding: 14px 28px; 
  cursor: pointer; 
  border-radius: 5px; 
  width: 200px;
  font-size: 1em;
  
  
}
.success {background-color: rgb(143, 204, 119); border: 2px solid #04AA6D;} 
.success:hover {background-color: #46a049; color: white;}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
        background-color: rgba(145, 80, 211, 0.322);
}

.postInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.postInput {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -60%) scale(0.8);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
    width: 350px;
}

.postInput.show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    pointer-events: auto;
}
