.panel{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 🔥 6 columnas */





}
@media (min-width: 1600px) {
    .panel {
        grid-template-columns: repeat(7, 0fr);
      gap: 0;                 /* 🔥 imágenes pegadas */
        align-items: center;
        justify-content: center;
    }
}

.image_panel{
    width: 250px;
    height: 250px;
    border: 2px rgb(202, 180, 180) solid;
    overflow: hidden; /* 🔥 evita que el texto se salga */


}

.image_panel:hover{
    overflow:initial;
}

img:hover{
    filter: blur(6px);
}

.name_post{
    position: relative;
    top: -100px;
    right: -20px;
    color: rgb(233, 228, 228);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}