body {
    background: radial-gradient(circle at top left, #1f1f2e, #0f0f15);
    min-height: 100vh;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(127, 255, 212, 0.315);
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}