body{
    background-image: url("../4k-black-3840-x-2160-background-rc6l1azrlg604s51.webp");

}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(127, 255, 212, 0.315);
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}